body{
    margin: 0;
    padding: 0;
    background-color: #41a0e2;
}

.back{
    width: 1270px;
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
    margin-top: 25px;
}